#ifndef ${saved_filenameWithoutExt}_H
#define ${saved_filenameWithoutExt}_H
/******************************************************************************
 *
 * Filename:       ${saved_filename}
 *
 * Description:
 *
 * %date_created:  ${date} %
 * %version:       1 %
 * %authors:       ${author} (${email}) %
 *
 * Copyright 2017-, ${company}
 * All rights reserved.
 *****************************************************************************/


/******************************************************************************
 *  Include Files
 *****************************************************************************/
$0

/******************************************************************************
 *  Macro Definitions
 *****************************************************************************/


/******************************************************************************
 *  Const Definitions
 *****************************************************************************/


/*****************************************************************************
 *  Type Definitions
 *****************************************************************************/


/*****************************************************************************
 *  Extern Variables
 *****************************************************************************/


/*****************************************************************************
 *  Function Prototypes
 *****************************************************************************/

#endif /*${saved_filenameWithoutExt}_H*/
/******************************************************************************
*
* Revision History:
*
* Rev.  YYMMDD  Who       Changes
* 1     ${date} ${author} New Created.
******************************************************************************/
